*{
    box-sizing: border-box;
}
body{
    margin: 0px 300px;
    
}
td{
    width:100px;
    height:100px;
    padding: 10px;

}
img{
    width:80px;
    height:80px; 
}

table{
    border:50px solid rgb(170, 116, 8);    
}

.a1>td:nth-child(odd){
    background-color: olivedrab;
}
.a2>td:nth-child(even){
    background-color: olivedrab;
}
.a3>td:nth-child(odd){
    background-color: olivedrab;
}
.a4>td:nth-child(even){
    background-color: olivedrab;
}
.a5>td:nth-child(odd){
    background-color: olivedrab;
}
.a6>td:nth-child(even){
    background-color: olivedrab;
}
.a7>td:nth-child(odd){
    background-color: olivedrab;
}
.a8>td:nth-child(even){
    background-color: olivedrab;
}

.a1>td:nth-child(even){
    background-color: rgb(216, 241, 164);
}
.a2>td:nth-child(odd){
    background-color: rgb(216, 241, 164);
}
.a3>td:nth-child(even){
    background-color: rgb(216, 241, 164);
}
.a4>td:nth-child(odd){
    background-color: rgb(216, 241, 164);
}
.a5>td:nth-child(even){
    background-color: rgb(216, 241, 164);
}
.a6>td:nth-child(odd){
    background-color: rgb(216, 241, 164);
}
.a7>td:nth-child(even){
    background-color: rgb(216, 241, 164);
}
.a8>td:nth-child(odd){
    background-color: rgb(216, 241, 164);
}